@import url(../../../../../node_modules/xel/themes/adwaita-dark.css);

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}


html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    font-family: "Roboto";
    -webkit-app-region: drag;
}

x-menuitem, x-label {
    max-width: 260px;
}

#single-song-player {
    background-color: #202020 !important;
}

#buttonPlayPause {
    -webkit-app-region: no-drag;
}

#position {
    width: 26px;
    height: 26px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#notification {
    font-size: 0.75em;
    color: #202020;
    background: #fff;
    text-align: center;
    border: 1px solid #202020;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
}

#exit {
    width: 22px;
    height: 22px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.select-radio {
    width: 300px;
    max-width: 300px;
    font-weight: 400;
    z-index: 98;
    -webkit-app-region: no-drag;

}


